nav {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav section ul {
  width: 20rem;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav section ul a:last-child {
  background-color: rgb(29, 141, 206);
  color: white;
  padding: 0.6rem;
  border-radius: 0.2rem;
}

main section {
  height: 50vh;
}

#about {
  background-color: rebeccapurple;
}

#hero {
  background-color: royalblue;
}

#submit {
  padding: 4rem;
  height: 100%;
  background-color: goldenrod;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#submit div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50rem;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
